{% extends 'base.html.twig' %} {% block body %}
<!-- banner -->
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="#">Home</a> / Blogpost</span>
    <h2>Blogpost</h2>
  </div>
</div>
<!-- banner -->

<div class="container">
  <div class="spacer blog">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        {% for blogpost in blogposts %}
        <!-- blog list -->
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <a href="#" class="thumbnail"
              ><img src="{{ blogpost.photo }}" alt="{{ blogpost.title }}"
            /></a>
          </div>
          <div class="col-lg-8 col-sm-8">
            <h3>
              <a href="#">{{ blogpost.title }}</a>
            </h3>
            <time class="info">{{ blogpost.createdDate|date('d/m/Y') }}</time>
            <p>
              {{ blogpost.content|u.truncate(200, '...', false) }}
            </p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
        <!-- blog list -->
        {% endfor %}
        <div class="center">
          {% do blogposts.setPageRange(3) %}
          {{ knp_pagination_render(blogposts, "base/pagination.html.twig") }}
        </div>
      </div>
      <div class="col-lg-4 visible-lg">
        <!-- tabs -->
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class=""><a href="#tab1" data-toggle="tab">Recent Post</a></li>
            <li class=""><a href="#tab2" data-toggle="tab">Most Popular</a></li>
            <li class="active">
              <a href="#tab3" data-toggle="tab">Most Commented</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="tab1">
              <ul class="list-unstyled">
                <li>
                  <h5>
                    <a href="#">Real estate marketing growing</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>
                <li>
                  <h5>
                    <a href="#">Real estate marketing growing</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>
                <li>
                  <h5>
                    <a href="#">Real estate marketing growing</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="tab2">
              <ul class="list-unstyled">
                <li>
                  <h5>
                    <a href="#">Market update on new apartments</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>

                <li>
                  <h5>
                    <a href="#">Market update on new apartments</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>

                <li>
                  <h5>
                    <a href="#">Market update on new apartments</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>
              </ul>
            </div>
            <div class="tab-pane active" id="tab3">
              <ul class="list-unstyled">
                <li>
                  <h5>
                    <a href="#">Creative business to takeover the market</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>

                <li>
                  <h5>
                    <a href="#">Creative business to takeover the market</a>
                  </h5>
                  <div class="info">Posted on: Jan 20, 2013</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- tabs -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
